<article>
    <h1>
        NOCAP
    </h1>
    <section class="d-flex flex-column align-items-center no-list-style">
        <span>
            Sign in with
        </span>
        <ul>
            <li class="login-buttons">
                <img src="assets/third-party/GitHub/GitHub-Mark-120px-plus.png" alt="Github Login">
            </li>
            <li class="login-buttons">
                <img src="assets/third-party/Patreon/Patreon_Mark_Coral.jpg" alt="Github Login">
            </li>
            <li class="login-buttons">
                <img src="assets/third-party/Google/btn_google_light_pressed_xxxhdpi.9.png" alt="Github Login">
            </li>
        </ul>
    </section>
</article>