<article class="d-flex flex-column container-fluid">
    <h5 class=" mt-5">
        NoCap - Free MotionCapture!!!
    </h5>
    <div class="d-flex flex-column flex-wrap mt-1">
        <section>
            Login
        </section>
        <section>
            <h6>
                Connect to the server
            </h6>
            <section>
                <form class="d-flex">
                    <div class="form-group d-flex flex-column align-items-center">
                        <input type="url" class="mb-3 form-control">
                        <button class="primary" type="submit">Connect!!!</button>
                    </div>
                </form>
            </section>
        </section>
    </div>
</article>