@import './mixins/list-no-style.scss';

$main-article: 100vh;
$main-header: 10vh;
$content-section: $main-article - $main-header;

@mixin common-layout {
    @media (orientation: portrait){
        article {
            min-height: $main-article;
            h1 {
                min-height: $main-header;
                text-align: center;
            }
            section {
                min-height: $content-section;

                &.no-list-style {
                    @include no-display-list-type;
                }
            }
        }
    }
}