
@mixin form-style($form-width, $control-width) {
    @media (orientation: portrait) {
        form {
            width: $form-width;
            width: 100%;
            input {
                width: $control-width;
            }
            @content;
        }
    }
}
